div#banner{
	position: relative;
	background-image: url("images/backgroundb.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding-top:300px;
	padding-bottom:20px;

}

div#content{

	section#descricao{
		padding-top:80px;
		padding-bottom:20px;
		background-image: url("images/background2.jpg");
		background-repeat: repeat;
		text-align:left;

		h1{
			margin-bottom:80px;
		}

		.col-md-5, .col-md-6{
			margin-bottom:60px;
		}

		.desc-container{
			padding:0 60px;
		}

		h2{
			padding:20px 0px;
		}
		p{
			font-size:26px;
			padding-bottom:20px;
		}
	}
	section.margin-delivery{
		margin-bottom:0px !important;
	}
	
	section#detalhes{
		padding:260px 0;	
		background-image: url("images/background3.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		 background-attachment: fixed;

		p{
			font-size:40px;
			font-weight:bold;
			color:#FFF;
		}

		p.amarelo{
			color:#faac11;
		}

		img{
			margin-bottom:20px;
		}
	}

	section#sobre{
		padding-bottom:40px;

		ul{
			list-style-type:none;
			margin-bottom: 20px;

			li{
				margin: 15px 0px;
			}
			li:before{
				content: "\2713 \00a0";
				font-weight:bold;
			}
		}

		div.fotos-sobre{
			img{
				float:left;
				border:5px solid #e5e5e5;
				margin:5px;
			}
		}	
	}

	section#fotos-sobre{
		padding:25px 0;
		background-color:#f3f2e9;

		img{
			border:5px solid white;
		}

	}


	section#form-contato{
		padding:25px 0;
		background-color:#f3f2e9;

		div.form-desc{
			background-color:#baad29;
			color:white;
			text-align: left;
			padding:25px 35px;
		}
	}

	section#contato{
		margin-top: 40px;

		div.quadro{
			padding:25px 50px;
			background-color:#f3f2e9;
			margin-top: 10px;
		}
	}

	section#redes-bot{
		padding:80px 0;	
	
		.redes_sociais_bot{
			margin-bottom: 5px;
			height:67px;
			text-align: left;
			list-style:none;
			margin: 0 auto;
			margin-top: 30px;
			width: 220px;
			padding:0;
		}

		.redes_sociais_bot li:hover{
		    opacity: 0.6;
		    filter: alpha(opacity=60); /* For IE8 and earlier */
		}

		.redes_sociais_bot a{
			display: inline-block;
			width:67px;
			height:67px
		}

		.redes_sociais_bot .youtube{
			background-image: url("images/redes-bot.jpg");
			background-position: left,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .instagram{
			background-image: url("images/redes-bot.jpg");
			background-position: -80px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .twitter{
			background-image: url("images/redes-bot.jpg");
			background-position: -160px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .facebook{
			background-image: url("images/redes-bot.jpg");
			background-position: right,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}
	}

	.sobre-desc{
		padding-bottom:80px !important;
	}

	.detalhes-cerv{
		h1{
			margin-bottom:20px !important;
		}
		p{
			margin:0 !important;
		}
		.cerv-g{
			margin-top:30px !important;
		}
		.risca-titulo{
			float:left;
			width:16%;
			font-size:42px;
		}
		.risca{
			float:left;
			width:42%;
			height:86px;
			background-image: url("images/risca.jpg");
			background-position: center,center;
			background-repeat:repeat-x;
		}
	}

	.contato{

		h1{
			margin-bottom:20px !important;
		}

		.col-md-5, .col-md-6{
			margin-bottom:0px !important;
		}
	}

	.onde{
		article{
			header{
				float:left;
				width:40%;
				padding-right:15px;
			}
			.entry-summary{
				h2{
					font-size:18px;
					padding:10px 0 !important;
					color:#9e3a27 !important;
				}
				p{
					font-size:16px !important;
				}
			}
		}
	}
}
@media (max-width: 991px) { 
	div#banner{
		padding-top:100px;
		background-image: url("images/background.jpg");
	}
	.risca-titulo{
			float:none !important;
			margin:0 auto;
		}
	.detalhes-cerv{
		.risca{
			display: none !important;
		}
	}

}

@media (min-width: 992px) {  
  
}
