#header{
	position:absolute;
	z-index:1000;
	right:0;
	left:0;

    div.header-logo{
		padding:25px 0;
		padding-bottom:80px;

		div.menu-responsivo{
			position:relative;
			float:left;
			margin-top:30px;
			padding:0;
		}

		div.logo-center{
			text-align: center;
		}

		div.redes{
			text-align: right;
			padding-top:30px;
	        .redes_sociais_header{
	            margin-top: 15px;
	            margin-bottom: 10px;
	            height: 34px;
	            list-style:none;
	            display: inline-block;
	            padding-left: 10px;
	            width: 160px;

	        }

	        .redes_sociais_header li:hover{
	            opacity: 0.6;
	            filter: alpha(opacity=60); /* For IE8 and earlier */
	        }

	        .redes_sociais_header a{
	            display: inline-block;
	            width:34px;
	            height:34px;
	        }

	        .redes_sociais_header .youtube{
	            background-image: url("images/redes-top.png");
	            background-position: left,center;
	            background-repeat:no-repeat;
	            width:34px;
	            height:34px;
	            display:inline-block;       
	        }

	        .redes_sociais_header .instagram{
	            background-image: url("images/redes-top.png");
	            background-position: -48px,center;
	            background-repeat:no-repeat;
	            width:34px;
	            height:34px;
	            display:inline-block;       
	        }

	        .redes_sociais_header .twitter{
	            background-image: url("images/redes-top.png");
	            background-position: right,center;
	            background-repeat:no-repeat;
	            width:34px;
	            height:34px;
	            display:inline-block;       
	        }
  

		}

    }   

    div.header-menu{

    	nav{
    		font-family: Mary, Verdana, Geneva, sans-serif;
    		font-size:16px;

    		ul.menu-principal{
    			padding: 0;
    			margin: 0 auto;
    			width:1060px;

				li{
					float:left;
					list-style-type: none;
					
					
					a{
						font-family: Mary, Verdana, Geneva, sans-serif;
						display: inline-block;
						padding:10px 28px;
						color:#1f1202;
						font-size:16px;
						-webkit-transition: color 0.5s ease-in-out;
		                -moz-transition: color 0.5s ease-in-out;
		                -o-transition: color 0.5s ease-in-out;
		                -ms-transition: color 0.5s ease-in-out;    
		                transition: color 0.5s ease-in-out;
					}
					a:hover{
						text-decoration: none;
					}
				}

				li:hover{
					a{
						color:#fbf2d5;
					}
				}
    		}
    	}
    }
}

.fixar {
    padding:15px !important;
    position:fixed !important;
    z-index: 1000 !important;
    margin-top: 0px !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    background-color: #f8a604 !important;
    .header-logo {
        display:none !important;
    }
}

@media (max-width: 991px) {  
	div.redes{
		text-align: left !important;
		padding-top:0px !important;
		margin-left:0px !important;
	}
	
	div.header-logo{
		padding:10px !important;
	}

	div.menu-responsivo{
		width: 50px;
		text-align: left;
		display: block;
		padding: 10px;
	}
	ul.menu-principal{
		display: none;
	}

	.fixar {
		padding:0px !important;
	}
}

@media (min-width: 992px) {  
	div.menu-responsivo{
		display: none;
	}
	ul.menu-principal{
		display: block;
	}  
}
